<h1 align="center">Hola mundo</h1>

<!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
<div class="text-center"> 
   <a href="/clientes" class="btn btn-info btn-responsive btninter" role="button" >Clientes</a>
    <a href="/productos" class="btn btn-success btninter right " role="button">Productos</a>
     <a href="/ordens" class="btn btn-warning btninter right " role="button">Ordenes</a>
      <a href="/detalle_ordens" class="btn btn-danger btninter right " role="button">Detalle de orden</a>
     
</div>




